*,
*::after,
*::before,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem; /* 16px */
}
a {
  text-decoration: none;
}
.wrapper{
  background-image: url(../images/BG.png);
  background-repeat: no-repeat;
  background-size: 100vw;
}
