.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__wrapper {
  width: 80vw;
}
.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__nav_description {
  height: 92px;
  width: 100%;
  max-width: 10.677vw;
  text-align: center;
}
.nav__description_title {
  font-family: "Montserrat400", Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 3rem;
  color: #1c1c1c;
}
.nav__description_subtitle {
  padding-top: 1rem;
  font-family: "Montserrat400", Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
  color: #1c1c1c;
}
.main__nav_price {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.89vw;
}
.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #12c868;
  font-family: "Montserrat600", Verdana, sans-serif;
  font-size: 1.1rem;
  line-height: 1.3rem;
  letter-spacing: 0.04em;
  width: 2.28385vw;
  height: 2.28385vw;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  border-radius: 100px;
}
.link_downloadPrice {
  font-family: "Montserrat600", Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
  color: #1c1c1c;
  border-bottom: dotted 2px #12c868;
}

.contactsIcons__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat400, Verdana, sans-serif;
  font-size: 12px;

  line-height: 15px;
  letter-spacing: 0.02em;
  text-align: center;
  & > b {
    font-family: Montserrat700, Verdana, sans-serif;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.02em;
    text-align: center;
  }
}
.dot {
  width: 0.4rem;
  height: 0.4rem;
  margin: 0.4rem;
  background: #12c868;
  border-radius: 100%;
}
.contactsIcons__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.4rem;
  margin-top: 1.658rem;
}
.contactsIcons__icon {
  width: 2.28385vw;
  height: 2.28385vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactsIcons__icon_viber {
  background: #976fcc;
}
.contactsIcons__icon_whatsapp {
  background: #12c868;
}
.contactsIcons__icon_telegram {
  background-color: #05a0eb;
}

.nav__block_workTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.6rem;
}
.workTime_time {
  font-family: Montserrat400, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  & > b {
    font-family: Montserrat700, Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: 0.02em;
  }
}
.workTime__phoneNumber {
  font-family: "Montserrat600", Verdana, sans-serif;
  font-size: 2.2rem;
  line-height: 2.7rem;
  letter-spacing: 0.05em;
  color: #1c1c1c;
}
.callMe {
  color: #12c868;
  border-bottom: dotted 2px #12c868;
}

.main__content {
  display: flex;
}

.commercial {
  width: 11.71875vw;
  padding-top: 6.3rem;
  padding-bottom: 4.15rem;
  background: #ffffff;
  box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.03);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4.8rem;
}
.commercial__block {
  max-width: 8.5416vw;
}
.content__title {
  width: 33.59375vw;

  font-family: Montserrat300;
  font-size: 5.5rem;
  line-height: 8.5rem;

  & > b {
    font-family: Montserrat600;
    font-size: 5.5rem;
    line-height: 8.5rem;
  }
}
