.main {
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__wrapper {
  width: 80vw;
}
.main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__nav_description {
  height: 4,792vw;
  width: 100%;
  max-width: 10.677vw;
  text-align: center;
}
.nav__description_title {
  font-family: "Montserrat400", Verdana, sans-serif;
  font-size: 0.625vw;
  line-height: 1.5625vw;
  color: #1c1c1c;
}
.nav__description_subtitle {
  padding-top: 0.52083vw;
  font-family: "Montserrat400", Verdana, sans-serif;
  font-size: 0.625vw;
  line-height: 0.9375vw;
  color: #1c1c1c;
}
.main__nav_price {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.89vw;
}
.pdf {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #12c868;
  font-family: "Montserrat600", Verdana, sans-serif;
  font-size: 0.57292vw;
  line-height: 0.677083vw;
  letter-spacing: 0.04em;
  width: 2.28385vw;
  height: 2.28385vw;
  background: #ffffff;
  box-shadow: 0px 0px 1.302083vw rgba(0, 0, 0, 0.05);
  border-radius: 5.2083vw;
}
.link_downloadPrice {
  font-family: "Montserrat600", Verdana, sans-serif;
  font-size: 0.625vw;
  line-height: 0.78125vw;
  letter-spacing: 0.04em;
  color: #1c1c1c;
  border-bottom: dotted 0.10416vw #12c868;
}

.contactsIcons__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Montserrat400, Verdana, sans-serif;
  font-size: 0.625vw;

  line-height: 0.78125vw;
  letter-spacing: 0.02em;
  text-align: center;
  & > b {
    font-family: Montserrat700, Verdana, sans-serif;
    font-size: 0.625vw;
    line-height: 0.78125vw;
    letter-spacing: 0.02em;
    text-align: center;
  }
}
.dot {
  width: 0.2083vw;
  height: 0.2083vw;
  margin: 0.2083vw;
  background: #12c868;
  border-radius: 100%;
}
.contactsIcons__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.7292vw;
  margin-top: 0.863542vw;
}
.contactsIcons__icon {
  width: 2.28385vw;
  height: 2.28385vw;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contactsIcons__icon_viber {
  background: #976fcc;
  & > img{
    width: 44%;
    height: auto;
  }
}
.contactsIcons__icon_whatsapp {
  background: #12c868;
    & > img{
    width: 44%;
    height: auto;
  }
}
.contactsIcons__icon_telegram {
  background-color: #05a0eb;
    & > img{
    width: 44%;
    height: auto;
  }
}

.nav__block_img{
  background-image: url(../images/logo.png);
  background-size: contain;
  width: 14.27083vw;
  height: 7.7083vw;
}

.nav__block_workTime {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.3125vw;
}
.workTime_time {
  font-family: Montserrat400, Verdana, sans-serif;
  font-size: 0.625vw;
  line-height: 0.78125vw;
  letter-spacing: 0.02em;
  & > b {
    font-family: Montserrat700, Verdana, sans-serif;
    font-size: 0.625vw;
    line-height: 0.78125vw;
    letter-spacing: 0.02em;
  }
}
.workTime__phoneNumber {
  font-family: "Montserrat600", Verdana, sans-serif;
  font-size: 1.14583vw;
  line-height: 1.40625vw;
  letter-spacing: 0.05em;
  color: #1c1c1c;
}
.callMe {
  color: #12c868;
  border-bottom: dotted 0.1042vw #12c868;
}

.main__content {
  display: flex;
}

.commercial {
  margin-top: 2.7083vw;
  width: 11.71875vw;
  padding-top: 3.28125vw;
  padding-bottom: 2.1614583vw;
  background: #ffffff;
  box-shadow: 0px 0px 3.90625vw rgba(0, 0, 0, 0.03);
  border-radius: 1.0416vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2.5vw;
}
.commercial__block {
  max-width: 8.5416vw;
  text-align: center;
}

.content__title {
  width: 33.59375vw;
  font-family: Montserrat300, Verdana, sans-serif;
  font-size: 2.865vw;
  line-height: 4.427083vw;

  & > b {
    font-family: Montserrat600, Verdana, sans-serif;
    font-size: 2.865vw;
    line-height: 4.427083vw;
  }
}
.main__info {
  margin-left:3.69792vw;
}
.circles {
  width: 3.02083vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%circle_green {
  width: 0.4796875vw;
  height: 0.4796875vw;
  border: 0.078125vw solid #12c868;
  border-radius: 100%;
}
.circle_green_0 {
  @extend %circle_green;
}
.circle_green_1 {
  @extend %circle_green;
  opacity: 0.5;
}
.circle_green_2 {
  @extend %circle_green;
  opacity: 0.5;
}
.circle_green_3 {
  @extend %circle_green;
  opacity: 0.25;
}
.content__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.833vw;
  width: 20.677083vw;
  font-family: Montserrat400, Verdana, sans-serif;
  font-size: 1.6666vw;
  line-height: 2.03125vw;
}
.content__buttons {
  margin-top: 2.34375vw;
  display: flex;
}
.content__footer {
  margin-top: 1.9792vw;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.content__footer_text {
  width: 12.1875vw;
  font-family: Montserrat400;
  font-size: 0.7292vw;
  line-height: 1.14583vw;
  letter-spacing: 0.02em;
  text-align: center;
  & > b {
    font-family: Montserrat600;
    font-size: 0.7292vw;
    line-height: 1.14583vw;
    letter-spacing: 0.02em;
    text-align: center;
  }
}
